.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(31, 88, 31);
}

h1 {
  color: white;
}

.recco-list {
  border-top: 1px solid rgba(255, 255, 255, 0.617);
  margin-top: 10px;
}

.music-btn {
  width: 90px;
  height: 40px;
  padding: 10px 10px;
  margin: 6px;
  border-radius: 10px;
  border: none;
  background-color: #468349cd;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.398);
}

li {
  font-weight: bolder;
  color: white;
  background-color: #316f34c9;
  padding: 10px 10px;
  border-bottom: 1px solid #fcfcfc65;
  border-radius: 5px;
  margin: 10px;
}
